/* https://colorhunt.co/palette/117699 */
.main-bg{
    background-color: #283149 !important;
    color: #dbedf3 !important;
}
.hero-bg{
    background-color: #404b69 !important;
    padding-bottom: 5px;
}
.action-bg{
    background-color: #00818a !important;
}
.hover-bg{
    background-color: #446e5c !important;
}
.onhover-bg:hover{
    background-color: #446e5c!important;
}

.hero-text{
    color: #882042!important;
}
.action-text{
    color: #6a9c78!important;
}
.hover-text{
    color: #446e5c!important;
}
.onhover-text:hover{
    color: #446e5c!important;
}

/* W3CSS correctif */
body {
    width: 100%;
    height: 100%;
}
table {
    box-sizing: border-box!important;
    width: 100%!important;
}
.w3-table tr {
    border-bottom-color: #ccc!important;
}
.w3-margin-16 {
    margin: 16px;
}
.w3-margin-16-32 {
    margin: 16px 32px;
}
.w3-margin-32 {
    margin: 32px;
}
.w3-margin-64 {
    margin: 64px;
}

/* Tooltip */
.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tool-yellow {
  color: #f6c523;
  font-size: 40px;
}

.tool-green {
  color: #4caf50;
  font-size: 40px;
}

.tool-red {
  color: red;
  font-size: 40px;
}

td .w3-button {
    display: inline!important;
}

.button-add {
  margin: 16px 0 0 16px;
}
.parcel {
  text-decoration: none;
}

 /* Style the list */
ul.breadcrumb {
  margin: 16px;
  list-style: none;
  text-align: left;
  padding: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.size-fixed a {
  margin-bottom: 10px;
}

h2 strong {
  font-size: 28px;
}

.card {
  font-size: 21px;
}
.card ul {
  list-style: none;
}
.card .obs {
  font-style: italic;
  font-size: 14px;
}
.card .title {
  display: block;
  background: #882042;
  padding: 10px;
  font-size: 20px;
}

.w3-our-blue {
  color: #dbedf3 !important;
  background-color: #404b69 !important;
}

.img-login {
  text-align: center;
}

.img-login img {
  width: 500px;
}

@media (max-width: 800px) {
  .img-login img {
    width: 100%;
  }
}

.menu {
  border-bottom: #ccc 1px solid;
  margin-bottom: 5px;
  font-size: 25px;
}
.menu div {
  width: 25%;
}
.menu a {
  display: block;
}
