<div class="hero-bg w3-cell-row">
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/">Mon exploitation</a></div>
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/social">Espace collaboratif</a></div>
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/alerts">Alertes</a></div>
  <div class="w3-cell onhover-bg w3-padding-16"><%= locals.mail || '' %></div>
  <div class="w3-cell onhover-bg w3-padding-16"><a href="logout"><i class="fa fa-user-times"></i></a></div>
</div>

<img src="logo.png" alt="">
