<div class="w3-cell-row menu">
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/"><i class="fa fa-list-alt"></i></a></div>
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/social"><i class="fa fa-map-marker"></i></a></div>
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/alerts"><i class="fa fa-exclamation-triangle"></i></a></div>
  <div class="w3-cell onhover-bg w3-padding-16"><a href="/logout"><i class="fa fa-user-times"></i></a></div>
</div>

<img src="logo.png" alt="">
